html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/*font-size: 100%;*/
	/*font: inherit;*/
	/*vertical-align: baseline;*/
}
 /*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
/*blockquote, q {*/
	/*quotes: none;*/
/*}*/
/*blockquote:before, blockquote:after,*/
/*q:before, q:after {*/
	/*content: '';*/
	/*content: none;*/
/*}*/
/*table {*/
	/*border-collapse: collapse;*/
	/*border-spacing: 0;*/
/*}*/


/*=== App styles ===*/
.testing {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 25%;
	padding: 20px;
	overflow: auto;
	background: aliceblue;
}
.testing div {
	padding-top: 5px;
	padding-left: 15px;
	border-left: 1px solid #cacaca;
	cursor: pointer;
}
.testing div:hover {
	outline: 1px solid forestgreen;
}
.testing hr {
	margin: 10px 0 0;
}
.testing ar {
	display: block;
	border-bottom: 1px dashed;
}
.testing arr {
	display: block;
	border-bottom: 3px dashed;
}
.testing .compressed {
	display: inline-block;
	height: 15px;
	overflow: hidden;
	background: aquamarine;
}


html {
	font-size: 14px;
}
body {
	width: 75%;
	font-size: 1.2rem;
}
header {
	padding: 10px;
}
.warning {
	background-color: #ffe2e2;
	color: #970000;
}
.btn {
	cursor: pointer;
}
.inline-block {
	display: inline-block;
	width: auto;
}
.border-top-1 {
	border-top: 1px solid;
}
.border-bottom-1 {
	border-bottom: 1px solid;
}
.nowrap {
	line-height: 31px;
	white-space: nowrap;
}
.flex {
	display: flex;
}
.flex > div {
	padding-left: 5px;
}
.flex > div:first-child {
	padding-left: 0;
}
.flex > .flex-grow1 {
	flex-grow: 1;
}
.margin5-0 {
	margin: 5px 0;
}
.padding5-0 {
	padding: 5px 0;
}
.padding10-0 {
	padding: 10px 0;
}

.layout {
	display: flex;
}
.layout > li {
	width: 33.33%;
	margin: 0;
	padding: 0 10px 10px;
	box-sizing: border-box;
	outline: 1px solid #007eff;
	border: none;
}
.step1 {
	background: #dfffe2;
}
.step1 .bg {
	background: #afe8af;
}
.step1 .participants > li {
	border-top: 5px solid green;
}
.step2 {
	background: #fffed4;
}
.step2 .bg {
	background: #f1f399;
}
.step2 .participants > li {
 border-top: 5px solid #bdaf00;
}
.step3 {
	background: #ffe1df;
}
.step3 .bg {
	background: #f3ad9c;
}
.step3 .participants > li {
	border-top: 5px solid #bd0600;
}
.expenses {
	padding-left: 20px;
}
.expenses select {
	max-width: 90px;
}
.expenses .date {
	width: 120px;
	font-size: 1.1rem;
	text-align: center;
}
.expenses .currency select {
	padding: 0;
	min-width: 60px;
	text-transform: uppercase;
}
.step1 .participants > li:last-child,
.expenses > li:last-child,
.part-list {
	padding-left: 14px;
}

.participation {
	width: 70px;
}
.balance {
	width: 50%;
}
.share {
	width: 50%;
	text-align: right;
}
