<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="calculatorCtrl">

<header>
	<span ng-repeat="account in expCalc.accounts track by $index">
		<button class="btn btn-primary"
				ng-class="{'active': expCalc.settings.currentAccount==$index}"
				ng-click="expCalc.settings.currentAccount=$index">
			{{$index}} - {{account.meta.title}}
		</button>
	</span>
	<button class="btn btn-primary" ng-click="createAccount()">
		<i class="fa fa-plus"></i>
	</button>
</header>

<main>
	<ul class="accounts">
		<li ng-repeat="account in expCalc.accounts track by $index"
			ng-if="expCalc.settings.currentAccount == $index">

			<header>
				<h5>
					<label>
						<div>Название расчёта:</div>
						<input class="form-control inline-block" ng-model="account.meta.title" data-account-index="$index">
					</label>
					<button class="btn btn-danger btn-sm" ng-click="removeAccount(this)">Удалить расчет</button>
				</h5>
			</header>

			<ul class="layout">
				<li class="step1">
					<!--=========== STEP 1 ============-->
					<h5 class="margin5-0">Шаг 1: Список участников и расходов</h5>
					<h5 class="margin5-0 flex">
						<span class="flex-grow1">Всего расходов:</span>
						<span class="text-uppercase">
							<b>
								{{roundOff(getAccountTotal(account))}}
								{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
							</b>
						</span>
					</h5>

					<ul class="participants">
						<li class="padding5-0" ng-repeat="participant in account.participants track by $index">
							<div class="flex padding5-0 bg">
								<div>
									<button class="btn btn-danger" ng-click="removeParticipant(this)">
										<i class="fa fa-minus"></i>
									</button>
								</div>
								<div class="flex-grow1">
									<input class="form-control" type="text" ng-model="participant.meta.title" placeholder="Новый участник">
								</div>
								<div>
									<h5 class="nowrap text-uppercase">
										{{roundOff(getParticipantTotal(account, participant))}}
										{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
									</h5>
								</div>
							</div>

							<ul class="expenses">
								<li class="padding5-0 bg" ng-repeat="expense in participant.expenses track by $index">

									<div class="test-block">
										expenseWithRate = {{getExpenseWithRate(expense)}}
									</div>

									<div class="flex">
										<div>
											<button class="btn btn-danger" ng-click="removeExpense(this)">
												<i class="fa fa-minus"></i>
											</button>
										</div>
										<div class="flex-grow1">
											<input class="form-control" type="text" ng-model="expense.title" placeholder="Новый расход">
										</div>
										<div>
											<select class="form-control" ng-model="expense.type">
												<option ng-repeat="expensesType in expCalc.settings.expensesTypes track by $index"
														value="{{$index}}" ng-selected="expense.type == $index">
													{{expensesType.name}}
												</option>
											</select>
										</div>
									</div>

									<div class="flex padding5-0">
										<div class="date">{{formatDate(expense.date)}}</div>
										<div class="flex-grow1">
											<input class="form-control" type="number" placeholder="сумма"
												   ng-model="expense.value" ng-change="fixDate(this)">
										</div>
										<div class="currency">
											<select class="form-control currency-select" ng-model="expense.currency"
													ng-options="key as value for (key, value) in expCalc.settings.currencies.names"
													ng-change="fixDate(this)">
											</select>
										</div>
									</div>
								</li>

								<li class="padding5-0 bg">
									<button class="btn btn-primary" ng-click="addNewExpense(this)">
										<i class="fa fa-plus"></i>
									</button>
									Добавить новый расход
								</li>
							</ul>
						</li>

						<li class="padding5-0">
							<button class="btn btn-primary" ng-click="createParticipant(expCalc.accounts.indexOf(account))">
								<i class="fa fa-plus"></i>
							</button>
							Добавить нового участника
						</li>
					</ul>

				</li>

				<li class="step2">
					<!--=========== STEP 2 ============-->
					<h5 class="margin5-0">Шаг 2: Расчет на каждого участника</h5>
					<h5 class="margin5-0 flex">
						<span class="flex-grow1">Весь возврат:</span>
						<span class="text-uppercase">
							<b>
								{{roundOff(getFullRefund(account))}}
								{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
							</b>
						</span>
					</h5>
					<h5 class="margin5-0 warning clearfix">
						<span>Сумма расходов:</span>
						<span class="float-right text-uppercase">
							<b>
								{{getAccountTotal(account)}}
								{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
							</b>
						</span>
					</h5>
					<h5 class="margin5-0 warning clearfix">
						<span>Сумма долей:</span>
						<span class="float-right text-uppercase">
							<b>
								{{getShareTotal(account)}}
								{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
							</b>
						</span>
					</h5>
					<h5 class="margin5-0 warning clearfix">
						<span>Погрешность расчетов:</span>
						<span class="float-right">
							<b>{{getAccountTotal(account) - getShareTotal(account)}}</b>
						</span>
					</h5>

					<ul class="participants">
						<li class="padding5-0" ng-repeat="extParticipant in account.participants track by $index"
							ng-init="extParticipantIndex = $index">
							<div class="flex padding5-0 bg">
								<div class="flex-grow1">
									<h5 class="nowrap">{{extParticipant.meta.title}}</h5>
								</div>
								<div class="participation">
									<input class="form-control" type="number"
										   ng-model="extParticipant.meta.participation">
								</div>
							</div>

							<div class="flex padding5-0 bg">
								<div class="balance">
									<h5>Баланс</h5>
									<h5 class="text-uppercase">
										{{roundOff(getBalance(extParticipant))}}
										{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
									</h5>
								</div>
								<div class="share">
									<h5>Доля</h5>
									<h5 class="text-uppercase">
										{{roundOff(getParticipantShare(account, extParticipantIndex))}}
										{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
									</h5>
								</div>
							</div>

							<ul class="part-list">
								<li class="bg" ng-repeat="intParticipant in account.participants track by $index">
									<hr/>
									{{intParticipant.meta.title}}<br/>

									<ul class="part-list">
										<li class="padding5-0 clearfix" ng-repeat="expense in intParticipant.expenses track by $index">
											<label>
												<input type="checkbox" ng-model="expense.partList[extParticipantIndex]">
												{{expense.title}}

												<div>
													<!-- partList[] * participation * expense / partSumOfExpense -->
													{{expense.partList[extParticipantIndex]}} *
													{{extParticipant.meta.participation}} *
													{{getExpenseWithRate(expense)}} /
													{{getPartSumOfExpense(account, expense)}} =
												</div>
											</label>

											<span class="float-right text-uppercase">
												<b>{{roundOff(getExpenseShare(account, expense, extParticipantIndex))}}</b>
											</span>
										</li>
									</ul>
									<hr/>
								</li>
							</ul>

						</li>
					</ul>
				</li>

				<li class="step3">
					<!--=========== STEP 3 ============-->
					<h5 class="margin5-0">Шаг 3: Фиксация расходов</h5>
					<h5 class="margin5-0 flex">
						<span class="flex-grow1">Баланс расчётов:</span>
						<span class="text-uppercase">
							<b>
								{{roundOff(account.meta.fullRefund)}}
								{{expCalc.settings.currencies.names[account.settings.accountCurrency]}}
							</b>
						</span>
					</h5>


					<div class="fixation-directly" ng-if="account.settings.fixationDirectly">

						<ul class="participants">
							<li class="padding5-0" ng-repeat="participant in account.participants track by $index">
								<div class="padding5-0 bg">
									<h5 class="nowrap">{{participant.meta.title}}</h5>

									<h5 class="margin5-0 flex">
										<span class="flex-grow1">
											Вернет/Получит (<span class="text-uppercase">{{expCalc.settings.currencies.names[participant.meta.preferredCurrency]}}</span>):
										</span>
										<span class="text-uppercase">
											<b>
												{{roundOff(participant.meta.balance)}}
											</b>
										</span>
									</h5>

									<h5>Следующему участнику:</h5>
								</div>

								<ul class="part-list" ng-if="participant.meta.balance < 0">
									<li class="bg it-was-returned" ng-repeat="refund in participant.fixation.whom">

										<div class="flex">
											<div style="min-width: 140px;">
												<div>{{account.participants[refund.number].meta.title}}</div>
												<div class="small">{{formatDate(refund.date)}}</div>
											</div>
											<div class="flex-grow1">
												<input type="text" disabled class="form-control"
													   ng-model="refund.value">
											</div>
											<div>
												<input type="text" disabled class="form-control"
													   ng-model="refund.currency">
											</div>
											<div>
												<input type="checkbox" ng-model="refund.checked">
											</div>
										</div>

										<div>
											reserve
										</div>

									</li>


									<li class="bg choose-sponsor">

										<div class="flex">
											<div>
												<select class="form-control" style="min-width: 130px;"
														ng-model="participant.fixation.tempWhom.number"
														ng-change="getTempWhomObject(account, participant)">
													<option value="" hidden disabled selected>Выберите участника</option>
													<option ng-repeat="sponsor in account.participants track by $index"
															value="{{$index}}" ng-if="sponsor.meta.balance > 0">
														{{sponsor.meta.title}} - [BYN {{roundOff(sponsor.meta.balance)}}]
													</option>
												</select>
											</div>
											<div class="flex-grow1">
												<input type="text" class="form-control" ng-model="participant.fixation.tempWhom.value">
											</div>
											<div>
												<select class="form-control currency-select" ng-model="participant.fixation.tempWhom.currency">
													<option value="" hidden disabled selected>- - -</option>
													<option ng-repeat="currency in expCalc.settings.currencies.names track by $index"
															value="{{$index}}">
														{{currency}}
													</option>
												</select>
											</div>
											<div>
												<input type="checkbox" ng-model="participant.fixation.tempWhom.checked"
													   ng-change="fixRefund(participant)">
											</div>
										</div>

									</li>

									<li class="bg reserve">

									</li>
								</ul>
							</li>
						</ul>

					</div>


					<div class="fixation-by-bank" ng-if="!account.settings.fixationDirectly">
						<!-- Fixation by bank -->
					</div>
				</li>
			</ul>
		</li>
	</ul>



	<div id="testing" class="testing"></div>
	<div>{{expCalc}}</div>
</main>

</body>
</html>